<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="sassStyle/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="navbar">
            <Navbar></Navbar>
        </div>
        <script src="navbar.js"></script>
        <div class="headerImage">

        </div>
        <h1 style="text-align: center;">Welcome to Bridge Academy Public Library</h1>
        <h3 style="text-align: center;">currently in development</h3>
        <div id="mainInfo" class="itemsContainer">
            <div v-for="(item, name) in items" class="itemContainer">
                <div class="itemTitle" class="itemTitle">{{name}}</div>
                <div v-for="info in item.stuff" class="itemInfo">
                    <h5 class="infoTitle">{{info.title}}</h5>
                    <p class="infoInfo">{{info.info}}</p>
                    <a v-bind:href="info.link" class="infoLink">More info</a>
                </div>
                <a v-bind:href="item.link" class="itemLink">More about {{name}}</a>
            </div>
        </div>
        <div id="about">
            <div v-for="(item, name) in about" class="itemContainer">
                <div class="itemTitle">{{name}}</div>
                <div v-if="isOpen(dayNumToString(date.getDay()))">We're Open Now</div>
                <table width="100%" style="border-collapse:collapse;">
                    <tr v-for="(time, day) in item.time"  v-bind:class="{bold : isSameDay(day), greenbc : isOpen(day)}">
                        <td>{{day}}</td>
                        <td>{{time}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="main.js"></script>
        <p class="contentRandy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium malesuada lorem non consequat. Curabitur auctor
        maximus mi, vitae tristique lacus ornare non. Etiam eleifend rutrum ante sit amet congue. In euismod, massa vitae mattis
        sollicitudin, risus augue dictum nunc, elementum varius est purus ac mauris. Etiam vehicula vehicula blandit.
        Pellentesque vitae ullamcorper libero. Praesent dictum nec ligula a viverra. Fusce lacinia mi sed nisi pellentesque, sed
        placerat quam pulvinar. Praesent non erat fringilla, auctor nunc aliquam, ultricies metus. In sed egestas ipsum, vel
        pellentesque nisi. Integer laoreet ante nisl, eget vulputate enim tempor vitae. In est enim, vehicula commodo placerat
        a, blandit in sapien.
        
        Nulla aliquet mi lobrtis arcu tristique bibendum. Quisque vitae ornare metus, eu gravida eros. Nam ac ornare urna, et
        aliquet risus. Integer nec lobortis enim. Curabitur maximus, tellus vitae rutrum malesuada, lorem tellus efficitur leo,
        ornare lobortis nunc est vitae felis. Vivamus dictum nunc nec sapien mollis, nec vestibulum dui pretium. Mauris dapibus
        elementum ante ac dignissim. Morbi urna nunc, bibendum non dui et, malesuada accumsan sem. Etiam non turpis eu nunc
        viverra commodo vitae eu nibh. Nullam pharetra, mauris sit amet rhoncus fermentum, elit lorem pharetra turpis, at
        suscipit lectus lacus non ipsum. Mauris tincidunt massa orci, id sodales est porta posuere. Integer eu faucibus orci.
        
        Praesent luctus blandit bibendum. Maecenas volutpat urna dui, ut iaculis purus mollis ut. Nulla dictum mollis felis, sed
        pellentesque felis elementum in. Suspendisse malesuada ac turpis sit amet varius. Sed interdum, risus non condimentum
        ultricies, turpis arcu consedwaquat odio, vulputate lacinia mauris libero at metus. Nulla facilisi. Vivamus ut justo
        lectus. Vestibulum velit lectus, convallis at scelerisque eget, ornare vehicula neque.
        
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed elementum congue
        hendrerit. Suspendisse ac tristique libero. Proin iaculis, justo non fermentum ultrices, magna tellus dictum metus, at
        hendrerit leo purus a enim. Donec et bibendum eros. Curabitur velit leo, varius sed ligula eu, interdum feugiat sem.
        Maecenas malesuada eleifend eros, sed scelerisque massa placerat vel.
        
        Suspendisse et sagittis nisl, at venenatis metus. Nam magna nulla, finibus in mi eget, ultrices feugiat mauris. Maecenas
        ipsum justo, tempus ac rutrum nec, mattis et metus. Fusce purus tortor, rhoncus vitae ultrices quis, condimentum et
        turpis. Sed sit amet molestie justo. Curabitur facilisis mauris at tellus sollicitudin convallis. Sed augue nisi,
        porttitor ac ornare id, vehicula vestibulum nibh. In hac habitasse platea dictumst.</p>
    </body>
</html>