<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bridge Academy Public Library</title>
    <meta name="description" 
        content="The Bridge Academy Public Library is the public library of Dresden, Maine. We offer book rentals, free use of
            computers, and a cozy place to relax. Our librarian Amalia, will be happy to welcome you to an assortment
            of books to read from. Bridge Academy Public Library has some fun activities as such as playing
            basketball, playing pickleball, and reading. Come on down, we're located on 44 Middle Rd in Dresden."/>
    <meta name="author" content="Amalia"/>
    <link rel="stylesheet" href="sassStyle/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <!-- Navbar -->
    <div id="navbar">
        <Navbar></Navbar>
    </div>
    <script src="navbar.js"></script><link rel="stylesheet" href="sassStyle/navbar.css" />

    <!-- Header
        <div class="headerImage">
        </div>-->
    <h1 style="text-align: center; margin-top: 96px;">Welcome to Bridge Academy Public Library</h1>
    <h3 style="text-align: center;">currently in development</h3>

    <div class="book-sale-img">
        <h4>
            Used Book Sale!
        </h4>
        <div class="donation-container">
            <p>$1 donation per book</p>
            <p>$5 donation per bag of books</p>
        </div>
        <div class="info-sale-container">
            <p>Over 1000+ books to choose from!</p>
            <p>Click here for info</p>
        </div>
    </div>

    <!-- Info 1 -->
    <div id="mainInfo" class="itemsContainer">
        <div v-for="(item, name) in items" class="itemContainer">
            <div class="itemTitle">{{name}}</div>
            <a v-if="name == 'Newsletter'" v-for="info in item.stuff" class="itemInfo" v-bind:href="info.link">
                <h4 class="infoTitle">{{info.title}}</h5>
                <p class="infoInfo">{{info.info}}</p>
            </a>
            <a v-else class="eventInfo" :href="info.link">
                <div class="dateContainer">
                    <p class="date">{{getMonth(info.subtitle)}}</p>
                    <p class="date">{{getDay(info.subtitle)}}</p>
                </div>
                <div class="infoContainer">
                    <h4 class="title">{{info.title}}</h4>
                    <p class="about">{{info.info}}</p>
                </div>
            </a>
            <a v-bind:href="item.link" class="itemLink">More about {{name}}</a>
        </div>
    </div>

    <link rel="stylesheet" href="sassStyle/carousel.css" />
    <div id="carousel">
        <Carousel
            :isbns="[9780525582168, 9781524763169, 9780593209738, 9780525596677, 9780374194321,9780525538882, 9780571359288]"
            title="New Bookzz"
            >
        </Carousel>
    </div>

    <div class="donationContainer">
        <div class="itemTitle">Donation</div>
        <div class="donationInfo">
            <p>If you have current NYT best sellers books that you would like to donate to our collection, call Amalia
                (librarian) @ <a href="tel:12077378810">(207) 737-8810</a></a></p>
            <p>We will be able to accept your book donations beginning at the end of April</p>
        </div>
    </div>

    <!-- Info 2 -->
    <div id="about" class="itemsContainer">
        <div v-for="(item, name) in about" class="aboutContainers">
            <div v-if="name == 'History'">
                <div class="itemTitle" class="itemTitle">{{name}}</div>
                <div class="itemInfo">
                    <p class="infoInfo">{{item.history}}</p>
                </div>
                <a v-bind:href="item.link" class="itemLink">More about {{name}}</a>
            </div>
            <div v-else-if="name == 'Hours'">
                <div class="itemTitle">{{name}}</div>
                <div class="openTable">
                    <div v-if="isOpen(dayNumToString(date.getDay()))">We're Currently Open</div>
                    <div v-else>Sorry, We're Closed</div>
                    <table width="100%">
                        <tr v-for="(time, day) in item.time" v-bind:style="[isSameDay(day) ? isOpen(day) ? 
                                {'background-color': colors[0], 'font-weight': 600} :
                                {'font-weight': 600} :
                                {'font-weight': 400}]">
                            <td>{{day}}</td>
                            <td>{{time}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-else>
                <div class="itemTitle" class="itemTitle">{{name}}</div>
                <ul class="itemInfo">
                    <li v-for="activity in item.activites">{{activity}}</li>
                </ul>
                <!--<a v-bind:href="item.link" class="itemLink">More about {{name}}</a>-->
            </div>
        </div>
    </div>
    <script src="main.js"></script>
    <div id="footer">
        <Foot></Foot>
    </div><link rel="stylesheet" href="sassStyle/footer.css" />
    <script src="footer.js"></script><script src="carousel.js"></script>
</body>

</html>