$colors: (#341C1C, #C4A287, #B07156, white, black, #545454)
$fontSizes: 12, 14, 18, 24, 32
$fontFamily: "arial"
$sizes: (768px, 960px, 1200px)

body
    padding: 0
    margin: 0
    background-color: nth($colors, 4)
.none
    display: none
